[user]
	email = 106884124+MrCatNerd@users.noreply.github.com
	name = MrCatNerd
[credential]
	helper = store
[core]
    editor = $EDITOR
	untrackedcache = true
	fsmonitor = true
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[rerere]
	enable = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	writeCommitGraph = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
